* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);
    gap: 2px;
}

ul li {
    list-style: none;
    background-color: #112;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

li i {
    color: white;
    font-size: 3em;
    visibility: hidden;
}

.show i {
    visibility: visible;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 50%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}